:root {
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --bgc-primary: #fefefe;
  --contour-img: #ffe550;
  --contour-img-hover: #bbf330;
  --btn-burger: #7eb101;
  --btn-burger-hover: #ffe550;
  --btn-bgc-first: #bbf330;
  --btn-bgc-first-hover: #b5ff00;
  --btn-bgc-second: #bbf330;
  --btn-bgc-second-hover: #bbf330;
  --btn-bgc-third: #ffffff;
  --btn-bgc-third-hover: #ffe550;
  --btn-bgc-fourth: #bbf330;
  --btn-bgc-fourth-hover: #b5ff00;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.header {
  padding: 10px 0;
  background-color: var(--bgc-primary);
}

.header__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.btn-buy {
  display: none;
  padding: 6px 18px;
  border-radius: 30px;
  max-height: 32px;
  border: 0;
  margin-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--btn-bgc-first);
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: var(--transition-timing);
          transition-timing-function: var(--transition-timing);
}

.btn-buy:hover, .btn-buy:focus {
  background-color: var(--btn-bgc-first-hover);
}

@media screen and (min-width: 768px) {
  .btn-buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-burger__btn {
  width: 28px;
  height: 28px;
  border: 0;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  color: var(--btn-burger);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: var(--transition-timing);
          transition-timing-function: var(--transition-timing);
}

.header-burger__btn:hover, .header-burger__btn:focus {
  color: var(--btn-burger-hover);
}

@media screen and (min-width: 768px) {
  .header-burger__btn {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 50px;
  right: 20px;
  width: 130px;
  z-index: 999;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  border-radius: 30px 0px 30px 30px;
  background-color: var(--bgc-primary);
  -webkit-box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
          box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__item {
  padding: 16px;
}

.mobile-menu__item:first-child {
  border-top-left-radius: 30px;
}

.mobile-menu__item:last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  border: 0;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.btn__icon {
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */