:root {
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --bgc-primary: #fefefe;
  --contour-img: #ffe550;
  --contour-img-hover: #bbf330;
  --btn-burger: #7eb101;
  --btn-burger-hover: #ffe550;
  --btn-bgc-first: #bbf330;
  --btn-bgc-first-hover: #b5ff00;
  --btn-bgc-second: #bbf330;
  --btn-bgc-second-hover: #bbf330;
  --btn-bgc-third: #ffffff;
  --btn-bgc-third-hover: #ffe550;
  --btn-bgc-fourth: #bbf330;
  --btn-bgc-fourth-hover: #b5ff00;
  --border-btn-order: #597d00;
  --title-color: #2c2c2c;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.header {
  padding: 10px 0;
  background-color: var(--bgc-primary);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
}

.header__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

.nav__item {
  cursor: pointer;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.nav__item:hover, .nav__item:focus {
  color: #bbf330;
}

.nav__item:active {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.btn-buy {
  border-radius: 30px;
  height: 32px;
  width: 98px;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--btn-bgc-first);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: var(--transition-timing);
          transition-timing-function: var(--transition-timing);
}

.btn-buy:hover, .btn-buy:focus {
  background-color: var(--btn-bgc-first-hover);
}

.header .btn-buy {
  display: none;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .header .btn-buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-burger__btn {
  width: 28px;
  height: 28px;
  border: 0;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  color: var(--btn-burger);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: var(--transition-timing);
          transition-timing-function: var(--transition-timing);
}

.header-burger__btn:hover, .header-burger__btn:focus {
  color: var(--btn-burger-hover);
}

@media screen and (min-width: 768px) {
  .header-burger__btn {
    display: none;
  }
}

.menu-container {
  position: absolute;
  top: 50px;
  right: 20px;
  width: 130px;
  z-index: 9999;
  -webkit-transform: translateX(130%);
          transform: translateX(130%);
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  border-radius: 30px 0px 30px 30px;
  background-color: var(--bgc-primary);
  -webkit-box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
          box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

body .menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-menu__item {
  padding: 16px;
}

.mobile-menu__item:first-child {
  border-top-left-radius: 30px;
}

.mobile-menu__item:last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.mobile-menu__item:hover, .mobile-menu__item:focus {
  background-color: var(--btn-burger);
}

.mobile-menu__link {
  font-size: 14px;
  line-height: calc(16 / 14);
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  border: 0;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--btn-bgc-thir);
}

.btn__icon {
  fill: currentColor;
}

.hero {
  padding-top: 72px;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: inherit;
}

.hero__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  position: relative;
  padding-top: 60px;
  padding-bottom: 50px;
}

@media screen and (min-width: 1280px) {
  .hero__thumb {
    padding-top: 159px;
    padding-bottom: 0;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  color: var(--title-color);
}

@media screen and (min-width: 768px) {
  .hero__title {
    width: 537px;
    font-size: 42px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    width: 502px;
    font-size: 48px;
    line-height: 1.2;
  }
}

.hero__text {
  padding-right: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--title-color);
}

@media screen and (min-width: 768px) {
  .hero__text {
    width: 336px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1280px) {
  .hero__text {
    width: 502px;
  }
}

.dish-thumb {
  position: absolute;
  right: 40px;
  top: 149px;
}

@media screen and (min-width: 1280px) {
  .dish-thumb {
    top: 14px;
    right: 30px;
  }
}

.dish {
  display: none;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .dish {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 320px;
    height: 320px;
    border: 14px solid var(--contour-img);
    position: relative;
    z-index: 5;
  }
}

@media screen and (min-width: 1280px) {
  .dish {
    width: 580px;
    height: 580px;
    border: 26px solid var(--contour-img);
  }
}

.mySwiper {
  border-radius: 50%;
}

.dish .swiper {
  position: static;
}

.btn__slider {
  min-width: 34px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: var(--btn-bgc-third);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

@media screen and (min-width: 1280px) {
  .btn__slider {
    min-width: 48px;
    height: 40px;
  }
}

.slider__icon {
  fill: currentColor;
  width: 11.49px;
  height: 20.34px;
}

@media screen and (min-width: 1280px) {
  .slider__icon {
    width: 16.42px;
    height: 29.05px;
  }
}

.swiper-button-prev:after {
  position: absolute;
  display: none;
}

.swiper-button-next:after {
  display: none;
}

.dish .swiper-button-prev {
  width: 34px;
  height: 28px;
  background-color: var(--btn-bgc-third);
  color: var(--title-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  left: -25px;
  -webkit-transition: color 0.2s linear, -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: color 0.2s linear, -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: transform 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
  transition: transform 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.dish .swiper-button-prev:hover {
  color: var(--btn-burger);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 1280px) {
  .dish .swiper-button-prev {
    width: 48px;
    height: 40px;
    left: -40px;
  }
}

.dish .swiper-button-next {
  width: 34px;
  height: 28px;
  background-color: var(--btn-bgc-third);
  color: var(--title-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  right: -25px;
  -webkit-transition: color 0.2s linear, -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: color 0.2s linear, -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  transition: transform 0.2s linear, color 0.2s linear, box-shadow 0.2s linear;
  transition: transform 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, -webkit-transform 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.dish .swiper-button-next:hover {
  color: var(--btn-burger);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 1280px) {
  .dish .swiper-button-next {
    width: 48px;
    height: 40px;
    right: -40px;
  }
}

.offerings {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 41px;
  background-image: url(../images/offerings/offerings_BG_mob_320_1x.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%, cover;
}

@media screen and (min-width: 768px) {
  .offerings {
    padding-top: 150px;
    padding-bottom: 100px;
    margin-top: -35px;
  }
}

@media screen and (min-width: 1280px) {
  .offerings {
    padding-top: 177px;
    margin: 0 auto;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .offerings {
    background-image: url(../images/offerings/offerings_BG_mob_320_2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .offerings {
    background-size: 480px, contain;
    background-image: url(../images/offerings/offerings_BG_mob_480_1x.jpg);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .offerings {
    background-image: url(../images/offerings/offerings_BG_mob_480_2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .offerings {
    background-size: 768px, contain;
    background-image: url(../images/offerings/offerings_BG_tab_1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .offerings {
    background-image: url(../images/offerings/offerings_BG_tab_2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .offerings {
    background-size: 1280px, contain;
    padding: 200px 0;
    background-image: url(../images/offerings/offerings_desk_1x.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .offerings {
    background-image: url(../images/offerings/offerings_desk_2x.jpg);
  }
}

.offerings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}

@media screen and (min-width: 768px) {
  .offerings-container {
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .offerings-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.offerings__image {
  width: 280px;
  height: 309px;
  margin-bottom: 32px;
  background-image: url(../images/offerings/mob/Apple_mob.png);
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .offerings__image {
    background-image: url(../images/offerings/mob/Apple_mob_2x.png);
  }
}

@media screen and (min-width: 768px) {
  .offerings__image {
    margin-bottom: 20px;
    width: 704px;
    height: 394px;
    background-image: url(../images/offerings/tab/Apple_tab.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .offerings__image {
    background-image: url(../images/offerings/tab/Apple_tab_2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .offerings__image {
    width: 550px;
    height: 604px;
    background-image: url(../images/offerings/desk/Apple_desk.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .offerings__image {
    background-image: url(../images/offerings/desk/Apple_desk_2x.png);
  }
}

.offerings__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}

@media screen and (min-width: 768px) {
  .offerings__info {
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .offerings__info {
    max-width: 573px;
  }
}

.thumb-info {
  max-width: 526.17px;
}

.offerings__title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  color: var(--title-color);
  margin-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .offerings__title {
    margin-bottom: 20px;
  }
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: calc(16 / 14);
  color: var(--title-color);
}

.thumb-order-and-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}

@media screen and (min-width: 768px) {
  .thumb-order-and-delivery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .thumb-order-and-delivery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 67px;
  }
}

.icon {
  width: 48px;
  height: 48px;
  background-color: var(--btn-bgc-third);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8px;
}

.delivery__title,
.order__title {
  margin-bottom: 16px;
}

.btn-order {
  border-radius: 30px;
  height: 40px;
  width: 106px;
  border: 0;
  cursor: pointer;
  border: 2px solid var(--btn-burger);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--btn-bgc-third);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: var(--transition-timing);
          transition-timing-function: var(--transition-timing);
}

.btn-order:hover, .btn-order:focus {
  border: 2px solid var(--border-btn-order);
}

.offerings__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-more {
  height: 34px;
  width: 83px;
  cursor: pointer;
  border: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7.75px;
  background-color: inherit;
}

@media screen and (min-width: 1280px) {
  .btn-more {
    display: none;
  }
}

.favorites {
  padding: 60px 0;
  background-color: var(--bgc-primary);
}

@media screen and (min-width: 768px) {
  .favorites {
    padding: 100px 0;
  }
}

.favorites__title {
  font-size: 28px;
  font-weight: 700;
  line-height: calc(33 / 28);
  text-align: center;
  color: var(--title-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .favorites__title {
    font-size: 42px;
    line-height: calc(49 / 42);
  }
}

.favorites__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  color: var(--title-color);
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .favorites__text {
    font-size: 16px;
    line-height: calc(19 / 16);
  }
}

@media screen and (min-width: 1280px) {
  .favorites__text {
    margin-bottom: 40px;
  }
}

.thumb-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .thumb-img {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 32px;
  }
}

.circle {
  width: 280px;
  height: 282px;
  border: 11px solid var(--btn-burger-hover);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border 0.2s linear;
  transition: border 0.2s linear;
}

.circle:hover, .circle:focus {
  border: 11px solid var(--btn-bgc-first);
}

@media screen and (min-width: 768px) {
  .circle {
    width: 336px;
    height: 338px;
    border: 14px solid var(--btn-burger-hover);
  }
  .circle:hover, .circle:focus {
    border: 14px solid var(--btn-bgc-first);
  }
}

@media screen and (min-width: 1280px) {
  .circle {
    width: 394px;
    height: 397px;
    border: 16px solid var(--btn-burger-hover);
  }
  .circle:hover, .circle:focus {
    border: 16px solid var(--btn-bgc-first);
  }
}

.img-tab-desk {
  display: none;
}

@media screen and (min-width: 768px) {
  .img-tab-desk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.favorites__img {
  width: 223.29px;
  height: 223.29px;
}

@media screen and (min-width: 768px) {
  .favorites__img {
    width: 268.19px;
    height: 268.63px;
  }
}

@media screen and (min-width: 1280px) {
  .favorites__img {
    width: 315px;
    height: 315px;
  }
}

.customers-Say {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  height: 769px;
  max-width: 1280px;
  margin: 0 auto;
  background-image: url(../images/customersSay/customersSay_BG_mob_320_1x.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%, cover;
}

@media screen and (min-width: 768px) {
  .customers-Say {
    height: 544px;
  }
}

@media screen and (min-width: 1280px) {
  .customers-Say {
    height: 647px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .customers-Say {
    background-image: url(../images/customersSay/customersSay_BG_mob_320_2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .customers-Say {
    background-size: 480px, contain;
    background-image: url(../images/customersSay/customersSay_BG_mob_480_1x.jpg);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .customers-Say {
    background-image: url(../images/customersSay/customersSay_BG_mob_480_2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .customers-Say {
    background-size: 768px, contain;
    background-image: url(../images/customersSay/customersSay_BG_tab_1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .customers-Say {
    background-image: url(../images/customersSay/customersSay_BG_tab_2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .customers-Say {
    background-size: 1280px, contain;
    background-image: url(../images/customersSay/customersSay_BG_desk_1x.jpg);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .customers-Say {
    background-image: url(../images/customersSay/customersSay_BG_desk_2x.jpg);
  }
}

.customers-Say__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
}

@media screen and (min-width: 768px) {
  .customers-Say__title {
    font-size: 42px;
    line-height: calc(49 / 42);
  }
}

.customers-Say__text {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
}

@media screen and (min-width: 768px) {
  .customers-Say__text {
    font-size: 16px;
    line-height: calc(19 / 16);
  }
}

.thumb-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .thumb-customers {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .thumb-customers {
    gap: 139px;
  }
}

.customer {
  max-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--bgc-primary);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

@media screen and (min-width: 768px) {
  .customer {
    padding: 12px;
    max-width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .customer {
    max-width: 501px;
  }
}

.rating {
  margin-bottom: 28px;
}

.rating__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}

.rating__item {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 17px;
  height: 16px;
}

.customer__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .customer__text {
    font-size: 18px;
    line-height: calc(21 / 18);
  }
}

.author {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  gap: 16px;
  border-right: 0.85417px solid var(--btn-burger);
}

.author .thumb-info {
  width: 94px;
}

.author__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
}

.author__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.author__img {
  width: 48px;
  height: 48px;
}

.subscribe {
  margin-top: -43px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .subscribe {
    margin-top: -74px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .subscribe > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe__img {
  margin-bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .subscribe__img {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

@media screen and (min-width: 1280px) {
  .subscribe__info {
    width: 656px;
  }
}

.subscribe__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .subscribe__title {
    font-size: 42px;
  }
}

.subscribe__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .subscribe__text {
    font-size: 16px;
    line-height: 1.5;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .form {
    gap: 32px;
  }
}

.form__input {
  border: 0.85417px solid var(--btn-bgc-third-hover);
  border-radius: 30px;
  padding: 12px;
  width: 100%;
  -webkit-transition: border 0.2s linear;
  transition: border 0.2s linear;
}

@media screen and (min-width: 768px) {
  .form__input {
    width: 395px;
  }
}

.form__input:hover, .form__input:focus, .form__input:active {
  border: 0.85417px solid var(--btn-bgc-third-hover);
}

.form__btn {
  width: 103px;
  height: 42px;
}

.footer {
  width: 100%;
  max-width: 480px;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 41px;
  background-image: url(../images/footer/mob/footer_BG_mob_1x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%, cover;
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 786px;
    height: 506px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1280px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .footer {
    background-image: url(../images/footer/mob/footer_BG_mob_2x.png);
  }
}

@media screen and (min-width: 768px) {
  .footer {
    background-size: 768px, contain;
    background-image: url(../images/footer/tab/footer_BG_tab_1x.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .footer {
    background-image: url(../images/footer/tab/footer_BG_tab_2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    background-size: 1280px, contain;
    padding: 200px 0;
    background-image: url(../images/footer/desk/footer_BG_desk_1x.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .footer {
    background-image: url(../images/footer/desk/footer_BG_desk_2x.png);
  }
}
/*# sourceMappingURL=main.css.map */