<section class="customers-Say" id="customers">
  <div class="container">
    <h2 class="customers-Say__title">What our Customers Say</h2>
    <p class="customers-Say__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <div class="thumb-customers">
      <div class="customer">
        <div class="rating">
          <ul class="rating__list">
            <li class="rating__item">
              <img src="./images/customersSay/star.png" alt="start" />
            </li>
            <li class="rating__item">
              <img src="./images/customersSay/star.png" alt="start" />
            </li>
            <li class="rating__item">
              <img src="./images/customersSay/star.png" alt="start" />
            </li>
            <li class="rating__item">
              <img src="./images/customersSay/star.png" alt="start" />
            </li>
            <li class="rating__item">
              <img src="./images/customersSay/star.png" alt="start" />
            </li>
          </ul>
        </div>
        <p class="customer__text">
          “The Best app I have used to order food in a while, so many options to
          choose from too, I would recommend to a freind, No questions asked”
        </p>
        <div class="author">
          <div class="author__img">
            <picture>
              <source
                srcset="
                  ./images/customersSay/boy_1x.png 1x,
                  ./images/customersSay/boy_2x.png 2x
                "
              />
              <img src="./images/customersSay/boy_2x.png" alt="boy_image" />
            </picture>
          </div>
          <div class="thumb-info">
            <h4 class="author__name">Sumith Shah</h4>
            <p class="author__text">Some Dude</p>
          </div>
        </div>
      </div>
      <div class="customer">
        <div class="rating">
          <ul class="rating__list">
            <li class="rating__item">
              <img src="./images/customersSay/star.png" alt="start" />
            </li>
            <li class="rating__item">
              <img src="./images/customersSay/star.png" alt="start" />
            </li>
            <li class="rating__item">
              <img src="./images/customersSay/star.png" alt="start" />
            </li>
            <li class="rating__item">
              <img src="./images/customersSay/star.png" alt="start" />
            </li>
            <li class="rating__item">
              <img src="./images/customersSay/star.png" alt="start" />
            </li>
          </ul>
        </div>
        <p class="customer__text">
          “The ease with which I can just go in and order what i want was
          amazing, It has been a very pleasant experience ordering from this
          app”
        </p>

        <div class="author">
          <div class="author__img">
            <picture>
              <source
                srcset="
                  ./images/customersSay/girl_1x.png 1x,
                  ./images/customersSay/girl_2x.png 2x
                "
              />
              <img src="./images/customersSay/girl_2x.png" alt="girl_image" />
            </picture>
          </div>
          <div class="thumb-info">
            <h4 class="author__name">Sumith Shah</h4>
            <p class="author__text">Some Dude</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
