<section class="customers-Say">
  <div class="container">
    <h2 class="customers-Say__title">What our Customers Say</h2>
    <p class="customers-Say__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <div class="customer">
      <div class="customer__star">*****</div>
      <p class="customer__text">
        The Best app I have used to order rood in a wnie, so many options to
        choose trom too. I would recommend to atreincaNo questions asked
      </p>
      <div class="author">
        <div class="author__img">
          <p>image</p>
        </div>
        <div class="thumb-info">
          <h4 class="author__name">Sumith Shah</h4>
          <p class="author__text">Some Dude</p>
        </div>
      </div>
    </div>
  </div>
</section>
