<section class="favorites">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <div class="thumb-img">
      <div class="circle">
        <picture>
          <source
            srcset="
              ./images/favorites/desk/favorites_desk_1_1x.png 1x,
              ./images/favorites/desk/favorites_desk_1_2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/tab/favorites_tab_1_1x.png 1x,
              ./images/favorites/tab/favorites_tab_1_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/favorites/mob/favorites_mob_1_1x.png 1x,
              ./images/favorites/mob/favorites_mob_1_2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="favorites__img"
            src="./images/favorites/desk/favorites_desk_1_1x.png"
            alt="favorites_eat_img1"
          />
        </picture>
      </div>
      <div class="circle">
        <picture>
          <source
            srcset="
              ./images/favorites/desk/favorites_desk_2_1x.png 1x,
              ./images/favorites/desk/favorites_desk_2_2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/tab/favorites_tab_2_1x.png 1x,
              ./images/favorites/tab/favorites_tab_2_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/favorites/mob/favorites_mob_2_1x.png 1x,
              ./images/favorites/mob/favorites_mob_2_2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="favorites__img"
            src="./images/favorites/desk/favorites_desk_2_1x.png"
            alt="favorites_eat_img2"
          />
        </picture>
      </div>
      <div class="circle">
        <picture>
          <source
            srcset="
              ./images/favorites/desk/favorites_desk_3_1x.png 1x,
              ./images/favorites/desk/favorites_desk_3_2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/tab/favorites_tab_3_1x.png 1x,
              ./images/favorites/tab/favorites_tab_3_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/favorites/mob/favorites_mob_3_1x.png 1x,
              ./images/favorites/mob/favorites_mob_3_2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            class="favorites__img"
            src="./images/favorites/desk/favorites_desk_3_1x.png"
            alt="favorites_eat_img3"
          />
        </picture>
      </div>
      <div class="circle img-tab-desk">
        <picture>
          <source
            srcset="
              ./images/favorites/desk/favorites_desk_4_1x.png 1x,
              ./images/favorites/desk/favorites_desk_4_2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/tab/favorites_tab_4_1x.png 1x,
              ./images/favorites/tab/favorites_tab_4_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="favorites__img"
            src="./images/favorites/desk/favorites_desk_4_1x.png"
            alt="favorites_eat_img4"
          />
        </picture>
      </div>
      <div class="circle img-tab-desk">
        <picture>
          <source
            srcset="
              ./images/favorites/desk/favorites_desk_5_1x.png 1x,
              ./images/favorites/desk/favorites_desk_5_2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/tab/favorites_tab_5_1x.png 1x,
              ./images/favorites/tab/favorites_tab_5_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="favorites__img"
            src="./images/favorites/desk/favorites_desk_5_1x.png"
            alt="favorites_eat_img5"
          />
        </picture>
      </div>
      <div class="circle img-tab-desk">
        <picture>
          <source
            srcset="
              ./images/favorites/desk/favorites_desk_6_1x.png 1x,
              ./images/favorites/desk/favorites_desk_6_2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/favorites/tab/favorites_tab_6_1x.png 1x,
              ./images/favorites/tab/favorites_tab_6_2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <img
            class="favorites__img"
            src="./images/favorites/desk/favorites_desk_6_1x.png"
            alt="favorites_eat_img6"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
