<footer class="footer">
  <div class="container">
    <div class="thumb__nav-service">
      <div class="thumb__nav">
        <a class="nav__logo nav-footer__logo" href="./index.html">
          <svg width="66" height="52">
            <use href="/src/images/symbol-defs.svg#icon-logo"></use>
          </svg>
        </a>
        <nav class="nav footer__nav">
          <ul class="nav__list list footer__list">
            <li class="nav__item">
              <a
                href="./index.html"
                class="mobile-menu__link mobile-menu__link--aktive link"
                >Home</a
              >
            </li>
            <li class="nav__item">
              <a href="#hero" class="mobile-menu__link link">Hero</a>
            </li>
            <li class="nav__item">
              <a href="#offerings" class="mobile-menu__link link">Offerings</a>
            </li>
            <li class="nav__item">
              <a href="#favorites" class="mobile-menu__link link">Favorites</a>
            </li>
            <li class="nav__item">
              <a href="#customers" class="mobile-menu__link link"
                >Customers Say</a
              >
            </li>
            <li class="nav__item">
              <a href="#subscribe" class="mobile-menu__link link">Subscribe</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="thumb__form">
        <h4 class="form__title">Subscribe</h4>
        <form class="form">
          <input
            type="email"
            name="email"
            class="form__input"
            placeholder="enter your email"
          />
          <button type="submit" class="btn-order">Subscribe</button>
        </form>
        <p class="form__text">
          By subscribing you agree to with our
          <a class="form__link" href="#">Privacy Policy</a>
        </p>
      </div>
    </div>
    <div class="footer__service">
      <ul class="list service__list">
        <li class="service__item">
          <a href="#" class="service__link">Privacy Policy</a>
        </li>
        <li class="service__item">
          <a href="#" class="service__link">Terms of Service</a>
        </li>
        <li class="service__item">
          <a href="#" class="service__link">Cookies Settings</a>
        </li>
      </ul>
      <p class="text-release">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
