<header class="header">
  <div class="container header__thumb">
    <a href="index.html">
      <picture>
        <img class="header-img__logo" src="./images/logo.png" alt="Logo" />
      </picture>
    </a>
    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a
            href="./index.html"
            class="mobile-menu__link mobile-menu__link--aktive link"
            >Home</a
          >
        </li>
        <li class="nav__item">
          <a href="#hero" class="mobile-menu__link link">Hero</a>
        </li>
        <li class="nav__item">
          <a href="#offerings" class="mobile-menu__link link">Offerings</a>
        </li>
        <li class="nav__item">
          <a href="#favorites" class="mobile-menu__link link">Favorites</a>
        </li>
        <li class="nav__item">
          <a href="#customers" class="mobile-menu__link link">Customers Say</a>
        </li>
        <li class="nav__item">
          <a href="#subscribe" class="mobile-menu__link link">Subscribe</a>
        </li>
      </ul>
    </nav>
    <button class="btn-buy">Order Now</button>

    <!-- Кнопка Бургер -->
    <button
      class="menu-toggle js-open-menu btn header-burger__btn"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="svg btn__icon" width="23" height="16">
        <use href="./images/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>

    <div class="menu-container js-menu-container" id="mobile-menu">
      <!-- Кнопка Закрыть меню -->
      <button class="menu-toggle js-close-menu">
        <svg class="mobile-menu__icon" width="11" height="11">
          <use href="./images/symbol-defs.svg#icon-exit"></use>
        </svg>
      </button>
      <ul class="mobile-menu list">
        <li class="mobile-menu__item">
          <a
            href="./index.html"
            class="mobile-menu__link mobile-menu__link--aktive link"
            >Home</a
          >
        </li>
        <li class="mobile-menu__item">
          <a href="#hero" class="mobile-menu__link link">Hero</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#offerings" class="mobile-menu__link link">Offerings</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#favorites" class="mobile-menu__link link">Favorites</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#customers" class="mobile-menu__link link">Customers Say</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#subscribe" class="mobile-menu__link link">Subscribe</a>
        </li>
      </ul>
    </div>
  </div>
</header>
