<section id="offerings" class="offerings">
  <div class="container offerings-container">
    <div class="offerings__image"></div>
    <div class="offerings__info">
      <div class="thumb-info">
        <h2 class="offerings__title">What’s Special About Our Offerings</h2>
        <p class="'offerings__text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
      </div>
      <div class="thumb-order-and-delivery">
        <div class="delivery">
          <div class="icon">
            <svg width="32" height="32">
              <use href="./images/symbol-defs.svg#icon-rocket"></use>
            </svg>
          </div>
          <h3 class="delivery__title">Fasest Delivery</h3>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </div>
        <div class="order">
          <div class="icon">
            <svg width="32" height="32">
              <use href="./images/symbol-defs.svg#icon-touch_app"></use>
            </svg>
          </div>
          <h3 class="order__title">Easy to order</h3>
          <p class="text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </div>
      </div>
      <div class="offerings__btn">
        <button class="btn-order">Order Now</button>
        <button class="btn-more">
          Read More
          <span>
            <svg class="" width="5" height="8.85">
              <use href="./images/symbol-defs.svg#icon-vector_right"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
