.header {
  display: flex;
  padding: 10px 0;
  background-color: var(--bgc-primary);
  // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
}

.header__thumb {
  display: flex;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;
}

.nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;
  }
}

.nav__list {
  display: flex;
  gap: 28px;
}

.nav__item {
  cursor: pointer;
  text-decoration-line: none;
  transition: color 0.2s linear;
  &:hover,
  &:focus {
    color: #bbf330;
  }
  &:active {
    text-decoration-line: underline;
  }
}

.btn-buy {
  border-radius: 30px;
  height: 32px;
  width: 98px;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-bgc-first);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: var(--transition-timing);
  &:hover,
  &:focus {
    background-color: var(--btn-bgc-first-hover);
  }
}

.header .btn-buy {
  display: none;
  margin-left: 30px;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.header-burger__btn {
  width: 28px;
  height: 28px;
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: var(--btn-burger);
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--btn-burger-hover);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  position: absolute;
  top: 50px;
  right: 20px;
  width: 130px;
  z-index: 9999;

  transform: translateX(130%);
  transition: transform 0.25s ease-in-out;
  border-radius: 30px 0px 30px 30px;

  background-color: var(--bgc-primary);
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);

  @media screen and (min-width: 768px) {
    display: none;
  }
}
body .menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu__item {
  padding: 16px;

  &:first-child {
    border-top-left-radius: 30px;
  }
  &:last-child {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  &:hover,
  &:focus {
    background-color: var(--btn-burger);
  }
}

.mobile-menu__link {
  font-size: 14px;
  line-height: calc(16 / 14);
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  border: 0;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-bgc-thir);
}

.btn__icon {
  fill: currentColor;
}
